/**
 * Color names
 *
 * Type: Map
 */

$iota-utils-color-names: (
	primary: rgb(255, 122, 233),
	light: rgb(155, 155, 155),
	dark: rgb(74,74,74),
	darkest: rgb(0,0,0)
);

/**
 * Namespace classes
 *
 * Type: String
 */

$iota-utils-color-namespace: 'colour-';

@import 'node_modules/iotacss/utilities/color';
