.#{$iota-global-utilities-namespace}aspect-ratio--4-3 {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (3 / 4) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}