.#{$iota-global-utilities-namespace}border-radius {
	border-radius: $base;

	&-round {
		border-radius: 50%;
		position: relative;

		> * {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
}