.#{$iota-global-components-namespace}cat-grid {
	@media all and (max-width: 767px){
		div:nth-child(2n) ~ div {
			display: none;
		}
	}
	@media all and (max-width: 999px){
		div:nth-child(4n) ~ div {
			display: none;
		}
	}
}