$icomoon-font-path: "../fonts" !default;

$c-icon--right-arrow: \e905;
$c-icon--left-arrow: \e906;
$c-icon--cat: \e900;
$c-icon--hamburger: \e901;
$c-icon--arrow-forward: \e902;
$c-icon--favorite-outline: \e903;
$c-icon--favorite: \e904;

@font-face {
	font-family: 'tangent-icons';
	src:
		url('#{$icomoon-font-path}/tangent-icons.ttf?ofbrjr') format('truetype'),
		url('#{$icomoon-font-path}/tangent-icons.woff?ofbrjr') format('woff'),
		url('#{$icomoon-font-path}/tangent-icons.svg?ofbrjr#tangent-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@function unicode($str) {
	@return unquote("\"") + $str + unquote("\"");
}

.c-icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'tangent-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.c-icon--right-arrow {
		&:before {
			content: unicode($c-icon--right-arrow);
		}
	}
	&.c-icon--left-arrow {
		&:before {
			content: unicode($c-icon--left-arrow);
		}
	}
	&.c-icon--cat {
		&:before {
			content: unicode($c-icon--cat);
		}
	}
	&.c-icon--hamburger {
		&:before {
			content: unicode($c-icon--hamburger);
		}
	}
	&.c-icon--arrow-forward {
		&:before {
			content: unicode($c-icon--arrow-forward);
		}
	}
	&.c-icon--favorite-outline {
		&:before {
			content: unicode($c-icon--favorite-outline);
		}
	}
	&.c-icon--favorite {
		&:before {
			content: unicode($c-icon--favorite);
		}
	}
}